<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qing.dao.MenuMapper">
    <resultMap id="BaseResultMap" type="com.qing.entity.Menu">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="price" jdbcType="VARCHAR" property="price"/>
        <result column="flavor" jdbcType="DECIMAL" property="flavor"/>
        <association property="type" select="com.qing.dao.TypeMapper.findById" column="tid"/>
    </resultMap>
    <sql id="Base_Column_List">
        id,name,price,flavor,tid
    </sql>

    <select id="findById" parameterType="integer" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from t_menu
        where id = #{id}
    </select>

    <select id="selectCount" parameterType="integer" resultMap="BaseResultMap">
        select count(*) from t_menu
    </select>

    <insert id="save" parameterType="com.qing.entity.Menu" >
        insert into t_menu(name,price,flavor,tid) values(#{name},#{price},#{flavor},#{type.id})
    </insert>

    <select id="findAll" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from t_menu
    </select>

    <update id="update" parameterType="com.qing.entity.Menu">
        update t_menu
        <set>
            <if test="name !='' and name !=null">
                name = #{name},
            </if>
            <if test="price !='' and price !=null">
                price = #{price},
            </if>
            <if test="flavor !='' and flavor !=null">
                flavor = #{flavor},
            </if>
            <if test="type.id !='' and type.id !=null">
                tid = #{type.id}
            </if>
        </set>
        where id= #{id}
    </update>

    <delete id="deleteById" parameterType="integer" >
      delete from t_menu where id = #{id}
    </delete>
</mapper>